- if @status
  %p
    %b= _("Status:")
    = _("syntax is correct")
    %i.fa.fa-ok.correct-syntax

  .table-holder
    %table.table.table-bordered
      %thead
        %tr
          %th= _("Parameter")
          %th= _("Value")
      %tbody
        - @stages.each do |stage|
          - @builds.select { |build| build[:stage] == stage }.each do |build|
            - job = @jobs[build[:name].to_sym]
            %tr
              %td #{stage.capitalize} 作业 - #{build[:name]}
              %td
                %pre= job[:before_script].to_a.join('\n')
                %pre= job[:script].to_a.join('\n')
                %pre= job[:after_script].to_a.join('\n')

                %br
                %b= _("Tag list:")
                = build[:tag_list].to_a.join(", ")
                %br
                %b= _("Only policy:")
                = job[:only].to_a.join(", ")
                %br
                %b= _("Except policy:")
                = job[:except].to_a.join(", ")
                %br
                %b= _("Environment:")
                = build[:environment]
                %br
                %b= _("When:")
                = build[:when]
                - if build[:allow_failure]
                  %b= _("Allowed to fail")

- else
  %p
    %b= _("Status:")
    = _("syntax is incorrect")
    %i.fa.fa-remove.incorrect-syntax
  %b= _("Error:")
  = @error
