通过验证检查后， 您的 Gitlab 自定义域名已被
启用。你可以通过 #{@domain.url} 访问您的内容。

项目: #{@project.human_name} (#{project_url(@project)})
域名:  #{@domain.domain} (#{project_pages_domain_url(@project, @domain)})

请查看
= help_page_url('user/project/pages/custom_domains_ssl_tls_certification/index.md', anchor: 'steps')
了解更多关于自定义域名的信息。
